.actionButton{
  margin-left: 10px;
}

.actionButtons{
  display: flex;
  justify-content: flex-end;
 
 }

.selectTask{
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-bottom: 20px;
 display: inline;
}

.selectTask input{
  cursor: pointer;
}

.textElipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 
}
.taskLinespacing {
  font-size: 15px;
  line-height: 0.7;
  text-align: center;
}

.descripton{
  height: 40px;
  /* background-color:hwb(204 73% 4% / 0.891);  */
}

.statusActive{
  background-color: hwb(204 64% 6% / 0.9);
}

.statusDone{
  background-color: hwb(204 64% 6% / 0.4);
}
@media (max-width: 576px){
  .task{
    margin-left: 12%;
   margin-right:10% ;

  }
}