

.actionButtons{
  margin-left:
 
 }


.selectTask{
  width: 18px;
  height: 18px;
  margin-bottom: 30px;
}

.selectTask input{
  cursor: pointer;
}

.textElipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.statusActive{
  background: #ccc;
}

.statusDone{
  background-color:green;
  /* visibility: hidden; */
}