.deleteButton {
   margin-left: 5px;
}

.actionButtons{
  display: flex; 
  justify-content: right;
}

.selectTask input:hover{
  cursor: pointer;
}

.selectTask{
   width: 18px;
   height: 18px;
   margin-bottom: 30px;
}