
.addButton{
  display: flex;
 justify-content: center;
}
.addButton Button{
  width: 130px;
  border-radius: 30px;
}


.selectButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
 }

 .selectButton Button{
  width: 150px;
 }
/*  */
 /* @media (max-width: 576px){ */
/*  */
/*  */
  /* .selectButton Button{ */
   /* width: 100px; */
   /* } */
/*  */
/*  */
/* } */